---
- hosts: all
  gather_facts: yes
  become: yes
  tasks:
  - name: Install java
    yum: pkg=java-1.8.0-openjdk-src.x86_64 state=present
  - name: create group
    group:
      name: hadoop
      state: present
  - name: Create a login user
    user:
      name: hadoop
      password: '$6$APZlEvNLlT$fBnNlemt3M4Gix1G5e9HJR5IYeNsYiVZS5zGaY4Km.W2Jgw7FEa.NYIpH.mGBYQcA5nt0fmrvymm.2P.qP341.'
      groups: hadoop   # Empty by default.
      state: present
      shell: /bin/bash       # Defaults to /bin/bash
      system: no             # Defaults to no
      createhome: yes        # Defaults to yes
      home: /home/hadoop  # Defaults to /home/<username>
  - copy:
       src: /home/bhanuchandra_sabbavarapu/.ssh/google_compute_engine
       dest: /home/bhanuchandra_sabbavarapu/.ssh/google_compute_engine
       owner: bhanuchandra_sabbavarapu
       group: bhanuchandra_sabbavarapu
       mode: 0600
  - file:
       dest: /home/hadoop/.ssh
       owner: hadoop
       group: hadoop
       state: directory
  - copy:
       src: /home/bhanuchandra_sabbavarapu/.ssh/google_compute_engine
       dest: /home/hadoop/.ssh/google_compute_engine
       owner: hadoop
       group: hadoop
       mode: 0600
